<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- here we just have to call the variables like this directly -->
    <h1>Hey it is <%= dayType%> and <%=advice%></h1>
</body>
</html>